.sideBar {
  @apply h-full w-[288px] border-r border-[rgb(60,67,107)];
}

.logo {
  @apply relative left-[25px] top-[26px] flex h-[68px] w-[238px] items-center gap-[12.75px];
}

.logo-image {
  @apply h-[68px] w-[70.12px];
}

.logo-title {
  @apply h-[27.62px] w-[155.12px];
}

.menu {
  @apply ml-[10px] mr-[10px] mt-[92px] h-screen w-[268px] flex-col gap-[60px];
}

.menu-item {
  @apply flex h-[58px] items-center gap-[15px] pl-10 transition-all duration-300;
}

.menu-item-icon {
  @apply h-[30px] w-[30px];
}

.menu-item-name {
  font-family: "Lota Grotesque";
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
}

.menu-item-name-active {
  font-family: "Lota Grotesque";
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

.menu-item-active {
  @apply rounded-[8px];
  background-color: rgb(39, 39, 40);
}
